.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 5px 20px 10px;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;
}

.right>.right-youtube {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right>.right-youtube>h2 {
    font-size: 130%;
}

.right>.right-youtube>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right>.right-youtube>div>iframe {
    border: none;
}

@media(max-width: 1050px) {
    .right {
        padding: 20px 10px 20px 5px;
    }
}


@media(max-width: 750px) {
    .right {
        padding: 20px 5px;
        position: static;
    }

    .right>.right-youtube>div>iframe {
        height: 50vh;
    }
}


@media(max-width: 520px) {
    .right>.right-youtube>div>iframe {
        height: 40vh;
    }
}


@media(max-width: 460px) {
    .right>.right-youtube>div>iframe {
        height: 33vh;
    }
}