* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

:root {
    --color1: rgb(14, 139, 212);
    --color2: white;
    --color3: black;
}